body {
    min-height: 100vh;
    background-size: cover;
    padding: 0rem 5rem;
    font-family: Helvetica;
      color: orange;
      background-color: black;
    }
    
    question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 10vh;
    }
    answer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 10vh;
      font-size: 1.5rem;
    }
    
    .big-text {
    font-size: 2.8rem;
    }